# common file patterns
.DS_STORE
.idea
*.iml
*.pyc
__pycache__
*.jar
*.class
.project
*.prefs
_build

# excluded paths
/data/
/logs/
/jobs/
/audit/
.vscode/*
/eggroll/
/fateboard/
/worker/
/model_local_cache/
*.db
*.whl
component_registry_realtime.json
