# common file patterns
.DS_STORE
.idea
*.iml
*.pyc
__pycache__
*.jar
*.class
.project
*.prefs
_build
venv

# excluded paths
/data/
/model/
/logs/
/jobs/
/audit/
/localfs/
.vscode/*
/temp/
/tmp
/worker/
*.db
*.db-journal
*.whl
/conf/local.*.yaml
/cluster-deploy/FATE_install_*
/python/component_plugins/

# doc
/site/

/python/fate_flow/data
/python/fate_flow/model
/python/fate_flow/logs
/python/fate_flow/jobs
/python/fate_flow/localfs
/python/fate_flow/*.env
/python/fate_flow/conf
/python/build
/python/dist
/python/*.egg-info